*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.events{
    background: #000;
}

#hero{
    background-image: url('../../images/event-speaking-man.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100vw; */
    height: 50vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 5%;
}

.vertical_divider{
    border-right: 2px solid gray;
    padding-right: 5px;
}

.event_details_container{
    padding: 5px;
}

.event_details_container span{
    padding: 0 5px;
}

.event_details_container_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.event_details_container_1 button{
    padding: 10px 25px;
    font-weight: bold;
    color: #fff;
    background: orangered;
    border: none;
    border-radius: 3px;
}

.event_details_container_2{
    margin-top: 15px;
}

.location_icon{
    color: orange;
}