* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin_all_user_container {
  margin-left: 135px;
  margin-top: -13.5rem;
  border: 1px solid gray;
}

table {
  width: 100%;
}

th {
  background: #000;
  color: #fff;
}

/* .table_header{ */
/* position: fixed; */
/* width: 100%; */
/* display: flex; */
/* justify-content: space-between; */
/* } */

td,
th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.profile_image {
  background: whitesmoke;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
}

.action_btn {
  border: none;
  padding: 5px 10px;
  background: green;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.fixTableHead {
  overflow-y: auto;
  height: 90vh;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 15px;
  border-bottom: 1px solid gray;
}
th {
  background: #000;
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .admin_all_user_container {
    margin-left: 0;
    margin-top: 0;
    border: none;
  }
}
