* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.account_container {
  background: rgb(1, 1, 34);
  display: flex;
  justify-content: center;
  height: 82vh;
}

.account_sub_container {
  background: rgb(0, 0, 78);
  width: 40%;
}

.account_1 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
}

.account_1 span {
  color: orangered;
}

.account_1 h3 {
  color: #fff;
}

.account_2 {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.account_2_1 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.account_2_1 span {
  color: blue;
  font-size: 25px;
}

.account_2_1 h2 {
  color: blue;
}

.account_2 button {
  border: none;
  background: none;
  color: blue;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}

/* .user_profile_image{
    position: relative;
}

.user_profile_image img{
    width: 50px;
    border-radius: 50%;
    border: 2px solid #000;
}

.user_profile_image span{
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
} */

.account_details_container {
  background: rgb(27, 27, 134);
  color: #fff;
}

.account_details_container p {
  margin-left: 5px;
  padding-top: 5px;
}

.profile_image_container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  /* background: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_container {
  position: relative;
  width: 50px;
  height: 50px;
}

.profile_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  border: 2px solid #000;
}

.camera_icon {
  position: absolute;
  bottom: 0;
  right: 0;
  /* border-radius: 40%; */
  padding: 2px;
}

.camera_icon span label {
  cursor: pointer;
}

.camera_icon span {
  /* width: 24px; */
  /* height: 24px; */
  color: #fff;
  font-size: 10px;
  background: #000;
  border-radius: 50%;
  padding: 3px;
}

.user_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.user_details span a {
  color: #fff;
}

.user_details_1 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user_details_1 p {
  font-weight: normal;
  font-size: 20px;
}

@media only screen and (max-width: 1024px) {
  .account_sub_container {
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  .account_sub_container {
    width: 100%;
  }
}
