*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero{
    background-image: url('../../images/0.breadcrumb-bg.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* width: 100vw; */
    height: 50vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 5%;
}

.event_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px;
    gap: 10px;
}

.event_container .event_image{
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0 0;
}

.event_container .event_image_1{
    background-image: url('../../images/2.hall.png');
}

.event_text_1, .event_text_2{
    color: #fff;
}
.event_text_1{
    background: rgba(0, 0, 0, 0.9);
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.event_text_2{
    background: whitesmoke;
    border-radius: 0 0 5px 5px;
}

.event_text_2 h3{
    color: #000;
    padding-left: 5px;
}

.event_text_2 p{
    color: gray;
    padding-left: 5px;
}

.event{
    cursor: pointer;
}

@media only screen and (max-width:900px){
    .event_container{
        grid-template-columns: auto;
    }
}

@media only screen and (max-width:430px){
    #hero{
        height: 40vh;
    }

    .event_container{
        grid-template-columns: auto;
    }
}

@media only screen and (max-width:540px){
    .event_container{
        grid-template-columns: auto;
    }
}