*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my_bookings_container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px 25px;
    background: rgb(3, 3, 59);
}

.my_bookings{
    background-image: url('../../images/iamge.jpg');
    background-size: cover;
    /* height: auto; */
    /* width: auto; */
    border-radius: 25px;
    overflow: hidden;
}

.my_bookings img{
    width: 100%;
    height: auto;
}

.my_bookings_text p{
    background: rgba(0, 0, 0, 0.3);
    margin: 5px;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50px;
}

.my_bookings_text .date{
    text-align: center;
}

.my_bookings_text{
    margin-bottom: 15px;
}

.my_bookings_text_2{
    padding-bottom: 10px;
}

.my_bookings_text_2 p{
    margin-left: 10px;
    font-size: 14px;
}

.my_bookings_text_2 .icon{
    margin-right: 5px;
}